@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-control{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: block;
}
.submit-btn{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}